
body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #F2EBE5;
  color: #080808;
}

header {
  background: linear-gradient(135deg, #DDD0C8, #323232);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem; /* Slightly increase padding */
}

.navbar h1 {
  margin: 0;
  font-size: 21px; /* Slightly increase font size */
  color:#000;
  font-weight: bold;
  cursor: pointer;
}


.navbar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar nav ul li {
  margin-left: 1.5rem; /* Slightly increase margin */
}

.navbar nav ul li a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.1rem; /* Slightly increase font size */
  padding: 0.5rem 0.75rem; /* Slightly increase padding */
  transition: background 0.3s, color 0.3s;
}

.navbar nav ul li a:hover {
  background: #fff;
  color: #1f0406;
  border-radius: 15px;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px; /* Slightly increase logo size */
  height: auto;
  border-radius: 30px;
  margin-right: 0.75rem; /* Slightly increase margin */
}

.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  position: relative;
  background-color: #F2F2F2;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.text-container {
  max-width: 50%;
  padding: 20px;
  margin-right: 20px;
  z-index: 1;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

.text-container h1 {
  font-family: 'Brush Script MT', cursive;
  font-size: 4em;
  margin-bottom: 20px;
  color:#1f0406;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s 0.5s forwards;
}

.text-container p {
  font-size: 1.2em;
  color:#080808;
  line-height: 1.6;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s 0.7s forwards;
}

.image-container {
  position: relative;
  max-width: 50%;
  overflow: hidden;
  border-radius: 10px;
  opacity: 0;
  animation: fadeInUp 3s 0.4s forwards; 
}

.image-container img {
  width: 100%;
  height: 540px;
  object-fit: cover;
  clip-path: polygon(50% 0%, 100% 0, 100% 95%, 10% 100%, 0 20%);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .about-us {
      flex-direction: column;
      text-align: center;
  }
  .text-container, .image-container {
      max-width: 90%;
      margin: 10px 0;
  }
  .text-container h1 {
      font-size: 3em;
  }
  .image-container img {
      height: 300px;
  }
}





.service {
  padding: 50px;
  background: #fff;
}

.service-header {
  text-align: left;
  margin-bottom: 50px;
  position: relative;
}

.service-header h1 {
  font-family: 'Brush Script MT', cursive;
  font-size: 5em;
  color: #000;
}

.service-header .quote {
  font-family: 'Brush Script MT', cursive;
  font-size: 1.5em;
  color: #666;
  margin-top: 10px;
}

.service-header .author {
  font-size: 1em;
  color: #666;
  text-align: right;
  margin-top: 5px;
}

.service-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.service-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.service-item img {
  width: 350px;
  height: 300px;
  margin-right: 20px;
}

.service-text h2 {
  font-size: 1.5em;
  margin: 0;
}

.service-text p {
  font-size: 1em;
  color: #666;
}

.cta-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #323232;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.cta-button:hover {
  background-color: #1f0406;
}

@media (min-width: 768px) {
  .service-items {
      flex-direction: row;
  }

  .service-item {
      margin-right: 40px;
  }
}

.testimonials {
  background: #f9f9f9;
  padding: 50px;
  border-radius: 10px;
  margin-top: 50px;
  text-align: center;
}

.testimonials h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.testimonial {
  margin-bottom: 20px;
}

.testimonial img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial p {
  margin: 0;
  color: #666;
}

.testimonial .author {
  font-style: italic;
  color: #333;
}
.timeline {
  background: #F2EBE5;
  padding: 50px 0;
  overflow: hidden;
  position: relative;
}

.timeline h1 {
  margin-left: 300px;
  font-family:'Times New Roman', Times, serif;
  font-size: 43px;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 9s forwards;
  position: relative;
}

.timeline-item:nth-child(even) {
  animation-delay: 0.2s;
}

.timeline-item:nth-child(odd) {
  animation-delay: 0.4s;
}

.timeline-content {
  text-align: center;
}

.timeline-content h2 {
  font-size: 1.8em;
  margin: 0;
  color: #323232;
}

.timeline-content p {
  font-size: 1.2em;
  color: #666;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background: #323232;
  transform: translateX(-50%);
  z-index: 0;
}

.timeline-item:before {
  content: '';
  position: absolute;
  left: -10px; 
  width: 20px;
  height: 20px;
  background: #323232;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item:nth-child(even) {
  align-self: flex-end;
  transform-origin: left;
}

.timeline-item:nth-child(odd) {
  align-self: flex-start;
  transform-origin: right;
}

.timeline-item:nth-child(even):before {
  transform: translateX(20px);
}

.timeline-item:nth-child(odd):before {
  transform: translateX(-20px);
}

@media (max-width: 768px) {
  .timeline-item {
    width: 90%;
    text-align: center;
  }

  .timeline:before {
    left: 10%;
  }

  .timeline-item:before {
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline-item:nth-child(even):before,
  .timeline-item:nth-child(odd):before {
    transform: translateX(-50%);
  }
}

.timeline-image {
  max-width: 60%;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 15px;
}



/* Footer styles */
footer {
  background-color: #f5f5f5; 
  color: #333; 
  padding: 40px 20px;
  text-align: center;
  font-size: 14px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
  min-width: 200px; 
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 22px; 
  border-bottom: 2px solid #d8b4a6; 
  padding-bottom: 10px;
  color: #333; 
}

.footer-section p,
.footer-section a {
  color: #777;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.footer-section a:hover {
  color: #d8b4a6;
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #e0d5ca; 
  padding-top: 30px;
  height: 50px;
}

.footer-bottom p{
  color: #777;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.socials {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.socials li {
  margin: 0 10px;
}

.socials img {
  width: 30px;
  height: 30px;
  filter: brightness(1) invert(0);
  transition: filter 0.3s;
}

.socials img:hover {
  filter: brightness(1) invert(0); 
}