
body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #E0DEDE;
  color: #080808;
}

header {
  background: linear-gradient(135deg, #DDD0C8, #323232);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem; /* Slightly increase padding */
}

.navbar h1 {
  margin: 0;
  font-size: 20px; /* Slightly increase font size */
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.navbar h1:hover{
  color: black;
}

.navbar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar nav ul li {
  margin-left: 1.5rem; /* Slightly increase margin */
}

.navbar nav ul li a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.1rem; /* Slightly increase font size */
  padding: 0.5rem 0.75rem; /* Slightly increase padding */
  transition: background 0.3s, color 0.3s;
}

.navbar nav ul li a:hover {
  background: #fff;
  color: #1f0406;
  border-radius: 15px;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px; /* Slightly increase logo size */
  height: auto;
  border-radius: 30px;
  margin-right: 0.75rem; /* Slightly increase margin */
}


.artwork-card {
  border: 1px solid #ccc;
  margin: 1em;
  padding: 1em;
  width: 320px;
  text-align: center;
  box-sizing: border-box;
}

.artwork-card h2{
  color:#1f0406;
  font-size: 20px;
}

.artwork-card img {
  width: 90%;
  height: 400px;
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal img{
  height: 300px;
}

.modal-content {
  background-color: #fff;
  padding: 2em;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  font-size: 1.5em;
}

.artist-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.artist-content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.artist-content img {
  max-width: 350px;
  margin-right: 2em;
  border-radius: 8px;
}
.artist-content .sculpt {
  order: 2; 
  max-width: 350px;
  margin-left: 9em;
  border-radius: 8px;
}

.artist-info {
  max-width: 700px;
  animation: funAnimation 3s infinite;
  margin-left: 100px;
  color: white;
}
@keyframes funAnimation {
  0% {
      transform: scale(1);

  }
  25% {
      transform: scale(1.1);
      
  }
  50% {
      transform: scale(1.2);
      color: #080808;
  }
  75% {
      transform: scale(1.1);
      color: #080808;
  }

}

.artist-info h2, .artist-info p {
  transition: color 1.5s;
}

.artist-info:hover h2 {
  color: white;
}


.artist-info h2 {
  font-size: 22px;
  margin-bottom: 0.5em;
  color: #11120D;
}

.artist-info p{
  color:#1f0406;
  font-size: 15px;
}
.featured-artists {
  padding: 2em 0;
  text-align: center;
  background-color: #f4f4f4;
}
.featured-artists h3{
  color:#a72525;
  font-size: 24px;
}
.featured-artists h2{
  color:#1f0406;
  font-size: 27px;
  margin-bottom: 50px;
}
.featured-artists p{
  color:#1f0406;
  font-size: 19px;
  font-family: 'Dancing Script', cursive;
}
.artists-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.artist-profile {
  max-width: 340px;
  text-align: center;
}

.artist-profile img {
  width: 80%;
  height: 270px;
  border-radius: 50%;
}

.artist-profile h3 {
  margin-top: 1em;
}


.art-creation {
  padding: 2em 0;
  text-align: center;
}

.canvas-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

canvas {
  border: 1px solid #ccc;
  margin-bottom: 1em;
  width: 45%;
}

.tools {
  display: flex;
  gap: 1em;
}

.service-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color:#a72525;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  transition: transform 0.3s ease-out, background-color 0.3s ease-out;
}

/* Ensure .service-icon is visible by default */
.service:hover .service-icon {
  background-color:#E3DCD2;
  color: black;
  font-weight: bold;
  transform: rotate(360deg);
}



.exhibitions-section {
  text-align: center;
  padding: 40px 20px;
}

.exhibitions-section h1 {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.exhibitions {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.exhibition-item {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  text-align: center;
}

.exhibition-item img {
  max-width: 100%;
  height: 300px;
  display: block;
  margin: 0 auto 10px;
}

.exhibition-item .title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 5px;
}

.exhibition-item .date {
  font-size: 0.9em;
  color: #999;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  padding: 10px 20px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
}
.gallery-slider {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  transition: transform 5.5s ease-in-out;
  justify-content: center;
  gap: 1em; 
}

.gallery-info {
  text-align: center;
  padding: 40px 20px;
}

.gallery-info h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.info-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.info-text {
  max-width: 500px;
  text-align: left;
}

.info-text p {
  margin-bottom: 10px;
}

.info-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Footer styles */
footer {
  background-color: #f5f5f5; 
  color: #333; 
  padding: 40px 20px;
  text-align: center;
  font-size: 14px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
  min-width: 200px; 
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 22px; 
  border-bottom: 2px solid #d8b4a6; 
  padding-bottom: 10px;
  color: #333; 
}

.footer-section p,
.footer-section a {
  color: #777;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.footer-section a:hover {
  color: #d8b4a6;
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #e0d5ca; 
  padding-top: 30px;
  height: 50px;
}

.footer-bottom p{
  color: #777;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.socials {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.socials li {
  margin: 0 10px;
}

.socials img {
  width: 30px;
  height: 30px;
  filter: brightness(1) invert(0);
  transition: filter 0.3s;
}

.socials img:hover {
  filter: brightness(1) invert(0); 
}

button{
  border: none;
  background-color:#b0b0b0;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

button .fas {
  margin-left: 8px;
  font-size: 18px; 
}


.animated-heading {
  animation: bounce 3s infinite;
  color:#bc9e82;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}
.animated-paragraph {
  opacity: 0;
  font-size: 18px;
  animation: crazyIn 6s forwards;
  color: #1f0406;
}

@keyframes crazyIn {
  0% {
      opacity: 0;
      transform: rotate(-360deg) scale(0.1);
  }
  50% {
      opacity: 1;
      transform: rotate(360deg) scale(1.2);
  }
  100% {
      opacity: 1;
      transform: rotate(0deg) scale(1);
  }
}
